*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** font-family: 'Inter', sans-serif; */

.header {
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-template-areas:
    "a1 a1 a1 a1 a1 a1 a2 a3"
    "b1 b1 b1 b1 b1 b1 b1 b1";
    background-color: #F08122;
}

.logo-cf img    {
    position: absolute;
    width: 236px;
    height: 130px;
    left: 14px;
    top: 9px;
}

.header-iconos {
    display: flex;
    height: 74px;
    gap: 19px;
    margin-top: 10px;
    grid-area: a3;
}

.navbar{
    grid-area: b1;
    width: 100%;
    background-color: #414141f2
}

.navbar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 28px;
    font-family: 'Inter:wght@500', sans-serif;
    height: 82px;
    padding-right: 103px;
    padding-left: 300px;
    gap: 28px;
    flex-grow: 5px;
}

.navbar li{
    grid-area: b1;
    list-style: none;
}

.navbar li a{
    grid-area: b1;
    color: white;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    transition: background, color ,300ms;
    cursor: pointer;
}

.navbar li a:hover{
    opacity: 4.6;
    background:#F08122;
}

.navbar .contacto{
    text-decoration: underline;
}

.slideframe{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.slideframe ul{
    display: flex;
    animation: slide 14s infinite alternate ease-in-out;
    width: 400%;
}
.slideframe li{
    list-style: none;
    width: 100%;
}
.slideframe img{
    width: 100%;
}
@keyframes slide {
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    95% {margin-left: -300%;}
}

.botline{
    display: flexbox;
    flex-wrap: wrap;
    background-color: black;
    width: 1440px;
    height: 65px;
    top: 156px;
}
.botline p{
    display: flex;
    align-items: center;
    height: 65px;
    width: 302px;
    margin-right: 1140px;
    margin-left: 140px;
    font-family: 'Inter:wght@500', sans-serif;
    color: white;
    font-size: 35px;
}

main{
    max-width: 1440px;
}
.firstrow{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

h2{
    display: flex;
    max-width: 1440px;
    margin: 31px;
    font-family: 'Inter:wght@500', sans-serif;
    font-size: 44px;
    text-align: center;
    
}

.container{
    display: grid;
    max-width: 1200px;
    grid-template-columns: repeat(4,1fr);
    margin: 90px;
    gap: 39px 43px;
}

.card {
    background-color: #F08122;
    width: 289px;
    height: 322px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card img{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    max-width: 100%;
    max-height: auto;
}

.card p{
    width: 261px;
    height: 50px;
    position: relative;
    margin: 247px 3px -33px 1px;
    font-size: 40px;
    color: white;
    font-family: 'Inter:wght@400', sans-serif;
}

@media (max-width: 576px){
    .container 
}